@model IEnumerable<Jobby.Models.SaveJobs>

@{
    ViewBag.Title = "SavedJobs";
}



@if (Model.Count() == 0)
{

    <div class="container modal-content" style="margin-top:120px; background-color:brown ;min-height:200px; border-radius:80px 30px 80px 0px">
        <h1 class="alert alert-warning text-capitalize text-center " style="margin-top:50px;"> no saved Application Yet</h1>

    </div>
    <h1 class="btn alert-success" style="margin-top:70px; font-size:x-large"><b> Explore More Jobs And </b> @Html.ActionLink("Apply Now", "Index", "jobs")</h1>


}


else
{
    <h1 class="alert alert-success text-capitalize text-center" id="savedjobdone">
        Applications Has Been Saved Successfully <i class="glyphicon glyphicon-check" style="color:blue"></i>
    </h1>

    <div class="container">

        <div class="row">




            @foreach (var item in Model)
            {



                <div class="col-md-3 modal-content  jobframe">

                    <h3 style="color:#1c6494 ; padding:12px ;display:block;border-bottom:4px solid #860606;" class="center-block text-center text-capitalize">
                        @Html.ActionLink(item.job.job_Name.ToString(), "Details", "jobs", new { id = item.JobId }, null)
                    </h3>


                    <i class="glyphicon glyphicon-home" style="color:grey">

                        <strong style="color:brown" class="text-uppercase"> @Html.DisplayFor(modelitem => item.job.PostedBy)</strong>
                    </i><br />

                    <i class=" glyphicon glyphicon-map-marker" style="color:grey">
                        <i style="color:crimson"> @Html.DisplayFor(modelitem => item.job.Location)</i>
                    </i>

                    <br />

                    <i class=" glyphicon glyphicon-time" style="color:grey">
                        <i style="color:green"> @Html.DisplayFor(modelitem => item.job.PostedOn)</i>
                    </i>

                    <br />

                    <i class=" glyphicon glyphicon-tags" style="color:grey">
                        <b style="color:#0e2a94"> @Html.DisplayFor(modelitem => item.job.Cat_name)</b>
                    </i>

                    <div>
                        <span style=" background-color:#f2d58e; margin-top:7px;" title="Description" class="thumbnail jobframeDesc">

                            <q style="color:#580303; font-size:large">
                                @Html.DisplayFor(modelitem => item.job.job_description)
                            </q>
                        </span>

                    </div>

                </div>




            }
        </div>

    </div>
}